<div class="main">
  <div class="head">
    <!-- Search bar -->
    <div class="card flex flex-wrap justify-content-center gap-3">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          type="text"
          [(ngModel)]="searchText"
          pInputText
          placeholder="ค้นหา"
          (input)="search()"
        />
      </span>
    </div>
    <!-- Create Button -->
    <p-button
      label="เพิ่มสมาชิก"
      icon="pi pi-plus"
      (onClick)="showAddDialog()"
    ></p-button>
  </div>
  <!-- Table customer -->
  <div class="card">
    <p-table
      [value]="customerFilter"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5, 10, 25, 50]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 12.5%">รหัส</th>
          <th style="width: 12.5%">ชื่อ-นามสกุล</th>
          <th style="width: 12.5%">อายุ</th>
          <th style="width: 12.5%">ที่อยู่</th>
          <th style="width: 12.5%">เบอร์โทร</th>
          <th style="width: 12.5%">ชื่อผู้ใช้</th>
          <th style="width: 12.5%">รหัสผ่าน</th>
          <th style="width: 12.5%"></th>
          <th style="width: 12.5%"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customer>
        <tr>
          <td>{{ customer.id }}</td>
          <td>
            <img
              [alt]="customer.image"
              src="{{ customer.image }}"
              width="32"
              style="
                vertical-align: middle;
                border-radius: 50%;
                height: 32px;
                width: 32px;
              "
            />
            <span class="ml-1 vertical-align-middle"> {{ customer.name }}</span>
          </td>
          <td>{{ customer.age }}</td>
          <td>{{ customer.address }}</td>
          <td>{{ customer.phone }}</td>
          <td>{{ customer.username }}</td>
          <td>{{ customer.password }}</td>
          <td>
            <p-button
              label="แก้ไข"
              styleClass="p-button-warning"
              (click)="showEditDialog(customer.id)"
            ></p-button>
          </td>
          <td>
            <p-button
              label="ลบ"
              styleClass="p-button-danger"
              [style.margin-left.px]="-60"
              (onClick)="deleteCustomer(customer.id)"
            ></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<!-- Edit Dialog -->
<div class="card flex justify-content-center">
  <p-dialog
    header="แก้ไขข้อมูล"
    [(visible)]="editVisible"
    [modal]="true"
    [style]="{ width: 'auto' }"
    [draggable]="false"
    [resizable]="false"
  >
    <form [formGroup]="inputForms">
      <div class="card flex justify-content-center inputspacDialog">
        <div class="flex flex-column gap-2 input-dialog">
          <label for="id">Customer ID</label>
          <input
            pInputText
            id="id"
            aria-describedby="id"
            formControlName="id"
            [disabled]="true"
          />
        </div>
        <div class="flex flex-column gap-2 input-dialog">
          <label for="name">Name</label>
          <input
            pInputText
            id="name"
            aria-describedby="name"
            formControlName="name"
          />
        </div>
        <div class="flex flex-column gap-2 input-dialog">
          <label for="age">Age</label>
          <input
            pInputText
            id="age"
            aria-describedby="age"
            formControlName="age"
          />
        </div>
      </div>

      <div class="card flex justify-content-center inputspacDialog">
        <!-- Address -->
        <div class="flex flex-column gap-2 input-dialog">
          <label for="address">Address</label>
          <input
            pInputText
            id="address"
            aria-describedby="address"
            formControlName="address"
            class="longInputDialog"
          />
        </div>
        <!-- Phone -->
        <div class="flex flex-column gap-2 input-dialog">
          <label for="phone">Phone</label>
          <input
            pInputText
            id="phone"
            aria-describedby="phone"
            formControlName="phone"
          />
        </div>
      </div>

      <div class="card flex justify-content-center inputspacDialog">
        <!-- Username -->
        <div class="flex flex-column gap-2 input-dialog">
          <label for="username">Username</label>
          <input
            pInputText
            id="username"
            aria-describedby="username"
            formControlName="username"
            class="longInputDialog"
          />
        </div>

        <!-- Password -->
        <div class="flex flex-column gap-2 input-dialog">
          <label for="password">Password</label>
          <input
            pInputText
            id="password"
            aria-describedby="password"
            formControlName="password"
          />
        </div>
      </div>

      <!-- Image -->
      <div class="card flex justify-content-center inputspacDialog">
        <div class="flex flex-column gap-2 input-dialog">
          <label for="image">Image</label>
          <input
            pInputText
            id="image"
            aria-describedby="image"
            formControlName="image"
            class="longInputDialog"
          />
        </div>
      </div>

      <!-- Confirm Button -->
      <div class="card flex justify-content-center">
        <button
          pButton
          pRipple
          label="ยืนยันการแก้ไข"
          (click)="confirmEdit()"
          class="p-button-success"
        ></button>
      </div>
    </form>
  </p-dialog>
</div>

<!-- Add Dialog -->
<div class="card flex justify-content-center">
  <p-dialog
    header="เพิ่มสมาชิก"
    [(visible)]="addVisible"
    [modal]="true"
    [style]="{ width: 'auto' }"
    [draggable]="false"
    [resizable]="false"
  >
    <form [formGroup]="inputForms">
      <div class="card flex justify-content-center inputspacDialog">
        <div class="flex flex-column gap-2 input-dialog">
          <label for="name">Name</label>
          <!-- <input id="name" type="text" formControlName="name"> -->
          <input
            pInputText
            id="name"
            aria-describedby="name"
            formControlName="name"
            class="longInputDialog"
          />
          <!-- <input
            pInputText
            id="name"
            aria-describedby="name"
            [(ngModel)]="name"
            class="longInputDialog"
          /> -->
        </div>
        <div class="flex flex-column gap-2 input-dialog">
          <label for="age">Age</label>
          <!-- <input id="age" type="text" formControlName="age"> -->
          <input
            pInputText
            id="age"
            aria-describedby="age"
            formControlName="age"
          />
          <!-- <input
            pInputText
            id="username"
            aria-describedby="username-help"
            [(ngModel)]="age"
          /> -->
        </div>
      </div>

      <div class="card flex justify-content-center inputspacDialog">
        <div class="flex flex-column gap-2 input-dialog">
          <label for="address">Address</label>
          <!-- <input id="address" type="text" formControlName="address"> -->
          <input
            pInputText
            id="address"
            aria-describedby="address"
            formControlName="address"
            class="longInputDialog"
          />
          <!-- <input
            pInputText
            id="username"
            aria-describedby="username-help"
            [(ngModel)]="address"
            class="longInputDialog"
          /> -->
        </div>
        <div class="flex flex-column gap-2 input-dialog">
          <label for="phone">Phone</label>
          <!-- <input id="phone" type="text" formControlName="phone"> -->
          <input
            pInputText
            id="phone"
            aria-describedby="phone"
            formControlName="phone"
          />
          <!-- <input
            pInputText
            id="username"
            aria-describedby="username-help"
            [(ngModel)]="phone"
          /> -->
        </div>
      </div>

      <div class="card flex justify-content-center inputspacDialog">
        <div class="flex flex-column gap-2 input-dialog">
          <label for="username">Username</label>
          <!-- <input id="username" type="text" formControlName="username"> -->
          <input
            pInputText
            id="username"
            aria-describedby="username"
            formControlName="username"
            class="longInputDialog"
          />
          <!-- <input
            pInputText
            id="username"
            aria-describedby="username-help"
            [(ngModel)]="username"
            class="longInputDialog"
          /> -->
        </div>
        <div class="flex flex-column gap-2 input-dialog">
          <label for="password">Password</label>
          <!-- <input id="password" type="text" formControlName="password"> -->
          <input
            pInputText
            id="password"
            aria-describedby="password"
            formControlName="password"
          />
          <!-- <input
            pInputText
            id="username"
            aria-describedby="username-help"
            [(ngModel)]="password"
          /> -->
        </div>
      </div>

      <div class="card flex justify-content-center inputspacDialog">
        <div class="flex flex-column gap-2 input-dialog">
          <label for="image">Image</label>
          <!-- <input id="image" type="text" formControlName="image"> -->
          <input
            pInputText
            id="image"
            aria-describedby="image"
            formControlName="image"
            class="longInputDialog"
          />
          <!-- <input
            pInputText
            id="image"
            aria-describedby="image-help"
            [(ngModel)]="image"
            class="longInputDialog"
          /> -->
        </div>
      </div>

      <div class="card flex justify-content-center">
        <button
          pButton
          pRipple
          label="บันทึก"
          (click)="confirmInsertCustomer()"
          class="p-button-success"
        ></button>
      </div>
    </form>
  </p-dialog>
</div>

<p-toast></p-toast>
