tr:hover {
  background-color: rgba(231, 227, 227, 0.445);
}


.main {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.head {
  display: flex;
  justify-content: space-between;
}

/* Detail Dialog */
#detailDialog .flex.flex-column.gap-2.input-dialog label {
  padding-right: 30px;
}

#detailDialog div{
  padding-bottom: 20px;
  max-width: 600px;
}

tr:hover {
  background-color: rgba(231, 227, 227, 0.445);
}
