<div class="main">
  <div class="head">
    <!-- Add bar -->
    <div class="card flex flex-wrap justify-content-center gap-3">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          type="text"
          id="textInputId"
          [(ngModel)]="searchText"
          pInputText
          placeholder="ค้นหาชุดสินค้า"
          (input)="search()"
        />
      </span>
    </div>
    <!-- Create Button -->
    <p-button
      label="สร้างชุดสินค้า"
      icon="pi pi-plus"
      [style.margin-left.px]="20"
      (onClick)="showAddDialog()"
    ></p-button>
    <!-- <p-button label="ส่งอนุมัติ" icon="pi pi-send" styleClass="p-button-success"></p-button> -->
  </div>
  <!-- Table customer -->
  <div class="card">
    <p-table
      [value]="packProductFilter"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5, 10, 25, 50]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3%">รหัส</th>
          <th style="width: 8%">ผู้เสนอ</th>
          <th style="width: 10%">ยี่ห้อ</th>
          <th style="width: 20%">รุ่น</th>
          <th style="width: 30%">รายละเอียด</th>
          <th style="width: 10%">วันที่</th>
          <th style="width: 8%">ราคา</th>
          <th style="width: 8%">จำนวน</th>
          <th style="width: 13%">สถานะ</th>
          <th style="width: 1%"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td (click)="showDialog(product.id)">{{ product.id }}</td>
          <td (click)="showDialog(product.id)">{{ product.Ename }}</td>
          <td (click)="showDialog(product.id)">{{ product.brand }}</td>
          <td (click)="showDialog(product.id)">{{ product.model }}</td>
          <td (click)="showDialog(product.id)" class="content"><span class="truncate">{{ product.description }}</span></td>
          <td (click)="showDialog(product.id)">{{ product.date | date }}</td>
          <td (click)="showDialog(product.id)">{{ product.price }}</td>
          <td (click)="showDialog(product.id)">{{ product.amount }}</td>
          <!-- <td (click)="showDialog(product.id)" [style.color]="colorStatus(product.status)">{{ product.status }}</td> -->
          <td><p-tag [icon]="iconsSetting(product.status)" [value]="product.status" [severity]="colorStatus(product.status)" (click)="showEditDialog(product.id, product.status)"></p-tag></td>
          <!-- <td>
            <p-button
              label="ลบ"
              styleClass="p-button-danger"
              [style.margin-left.px]="-25"
            ></p-button>
          </td> -->
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<!-- Dialog -->
<div class="card flex justify-content-center" id="detailDialog">
  <p-dialog
    header="รายละเอียดชุดสินค้า"
    [(visible)]="visible"
    [modal]="true"
    [style]="{ width: 'auto' }"
    [draggable]="false"
    [resizable]="false"
  >
    <div
      id="detailDialog"
      class="card flex justify-content-center inputspacDialog"
    >

      <div style="display: flex; justify-content: center">
        <div *ngFor="let item of productsFilter">
          <img src="{{item.image}}" alt="" style="width: 300px; height: 300px" />
        </div>
      </div>

      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="id"><strong>ID : </strong>{{ id }}</label>
        <label htmlFor="id"><strong>Brand : </strong>{{ brand }}</label>
        <label htmlFor="id"><strong>Model : </strong>{{ model }}</label>
      </div>
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="id"
          ><strong>Description : </strong>{{ description }}</label
        >
      </div>
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="id"><strong>Price : </strong>{{ price }} Bath</label>
      </div>
    </div>
  </p-dialog>
</div>

<!-- Dialog in Edit-->
<div class="card flex justify-content-center">
  <p-dialog
    header="รายละเอียดสินค้า"
    [(visible)]="visibleEdit2"
    [modal]="true"
    [style]="{ width: 'auto' }"
    [draggable]="false"
    [resizable]="false"
  >
    <div
      id="detailDialog"
      class="card flex justify-content-center inputspacDialog"
    >
      <div style="display: flex; justify-content: center">
        <img src="{{ image }}" alt style="width: 300px; height: 300px" />
      </div>
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="id"><strong>ID : </strong>{{ id }}</label>
        <label htmlFor="id"><strong>Brand : </strong>{{ brand }}</label>
        <label htmlFor="id"><strong>Model : </strong>{{ model }}</label>
      </div>
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="id"
          ><strong>Description : </strong>{{ description }}</label
        >
      </div>
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="id"><strong>Amount : </strong>{{ amount }}</label>
        <label htmlFor="id"><strong>Price : </strong>{{ price }} Bath</label>
      </div>
    </div>
  </p-dialog>
</div>

<!-- Add Dialog -->
<div class="card flex justify-content-center" id="Edit-Add-Dialog">
  <p-dialog
    header="สร้างชุดสินค้า"
    [(visible)]="addVisible"
    [modal]="true"
    [style]="{ width: 'auto' }"
    [draggable]="false"
    [resizable]="false"
  >
    <div class="card flex flex-wrap justify-content-center gap-3">
      <span class="p-input-icon-left">
        <i class="pi pi-box"></i>
        <input
          type="text"
          id="textInputId"
          [(ngModel)]="addProductText"
          pInputText
          placeholder="ID สินค้า"
        />
        <p-button
          label="เพิ่ม"
          icon="pi pi-plus"
          [style.margin-left.px]="20"
          (onClick)="addProduct()"
        ></p-button>
      </span>
    </div>
    <br />
    <!-- Table Add Product -->
    <p-table
      [value]="addPackProductsFilter"
      [paginator]="false"
      [rows]="10"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5, 10, 25, 50]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3%">รหัส</th>
          <th style="width: 10%">ยี่ห้อ</th>
          <th style="width: 20%">รุ่น</th>
          <th style="width: 8%">ราคา</th>
          <th style="width: 8%">จำนวน</th>
          <th style="width: 1%"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td (click)="showDialogEdit(product[0].id)">
            {{ product[0].id }}
          </td>
          <td (click)="showDialogEdit(product[0].id)">
            {{ product[0].brand }}
          </td>
          <td (click)="showDialogEdit(product[0].id)">
            {{ product[0].model }}
          </td>
          <td (click)="showDialogEdit(product[0].id)">
            {{ product[0].price }}
          </td>
          <td (click)="showDialogEdit(product[0].id)">
            {{ product[0].amount }}
          </td>
          <td>
            <p-button
              label="ลบ"
              styleClass="p-button-danger"
              [style.margin-left.px]="-25"
              (onClick)="deleteItem(product[0].id, product[0].price)"
            >
            </p-button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary"> ราคารวม {{ total }} บาท </ng-template>
    </p-table>
    <br />

    <div class="card flex justify-content-center inputspacDialog">
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="brand">Brand</label>
        <input
          pInputText
          id="brand"
          aria-describedby="brand-help"
          [(ngModel)]="brand"
        />
      </div>
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="model">Model</label>
        <input
          pInputText
          id="model"
          aria-describedby="model-help"
          [(ngModel)]="model"
        />
      </div>
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="price">Price</label>
        <input
          pInputText
          id="price"
          aria-describedby="price-help"
          [(ngModel)]="price"
        />
      </div>
    </div>

    <div class="card flex justify-content-center inputspacDialog">
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="amount">Amount</label>
        <input
          pInputText
          id="amount"
          aria-describedby="amount-help"
          [(ngModel)]="amount"
        />
      </div>
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="image">Image</label>
        <input
          style="width: 444px"
          pInputText
          id="image"
          aria-describedby="image-help"
          [(ngModel)]="image"
        />
      </div>
    </div>

    <div class="card flex justify-content-center inputspacDialog">
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="description">Description</label>
        <textarea
          rows="5"
          cols="30"
          pInputTextarea
          [(ngModel)]="description"
          style="width: 444px"
        ></textarea>
      </div>
    </div>

    <div class="card flex justify-content-center inputspacDialog">
      <p-button
        label="บันทึกร่าง"
        icon="pi pi-save"
        (onClick)="insetProduct('SAVE')"
      ></p-button>
      <p-button
        label="ส่งอนุมัติ"
        icon="pi pi-send"
        styleClass="p-button-success"
        (onClick)="insetProduct('APPROVAL')"
      ></p-button>
    </div>
  </p-dialog>
</div>

<!-- Edit Dialog -->
<div class="card flex justify-content-center" id="Edit-Add-Dialog">
  <p-dialog
    header="แก้ไขฉบับร่าง"
    [(visible)]="editVisible"
    [modal]="true"
    [style]="{ width: 'auto' }"
    [draggable]="false"
    [resizable]="false"
  >
    <div class="card flex flex-wrap justify-content-center gap-3">
      <span class="p-input-icon-left">
        <i class="pi pi-box"></i>
        <input
          type="text"
          id="textInputId"
          [(ngModel)]="addProductText"
          pInputText
          placeholder="ID สินค้า"
        />
        <p-button
          label="เพิ่ม"
          icon="pi pi-plus"
          [style.margin-left.px]="20"
          (onClick)="addProduct()"
        ></p-button>
      </span>
    </div>
    <br />
    <!-- Table Add Product -->
    <p-table
      [value]="addPackProductsFilter"
      [paginator]="false"
      [rows]="10"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5, 10, 25, 50]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3%">รหัส</th>
          <th style="width: 10%">ยี่ห้อ</th>
          <th style="width: 20%">รุ่น</th>
          <th style="width: 8%">ราคา</th>
          <th style="width: 8%">จำนวน</th>
          <th style="width: 1%"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td (click)="showDialogEdit(product[0].id)">
            {{ product[0].id }}
          </td>
          <td (click)="showDialogEdit(product[0].id)">
            {{ product[0].brand }}
          </td>
          <td (click)="showDialogEdit(product[0].id)">
            {{ product[0].model }}
          </td>
          <td (click)="showDialogEdit(product[0].id)">
            {{ product[0].price }}
          </td>
          <td (click)="showDialogEdit(product[0].id)">
            {{ product[0].amount }}
          </td>
          <td>
            <p-button
              label="ลบ"
              styleClass="p-button-danger"
              [style.margin-left.px]="-25"
              (onClick)="deleteItem(product[0].id, product[0].price)"
            >
            </p-button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary"> ราคารวม {{ total }} บาท </ng-template>
    </p-table>
    <br />

    <div class="card flex justify-content-center inputspacDialog">
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="brand">Brand</label>
        <input
          pInputText
          id="brand"
          aria-describedby="brand-help"
          [(ngModel)]="brand"
        />
      </div>
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="model">Model</label>
        <input
          pInputText
          id="model"
          aria-describedby="model-help"
          [(ngModel)]="model"
        />
      </div>
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="price">Price</label>
        <input
          pInputText
          id="price"
          aria-describedby="price-help"
          [(ngModel)]="price"
        />
      </div>
    </div>

    <div class="card flex justify-content-center inputspacDialog">
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="amount">Amount</label>
        <input
          pInputText
          id="amount"
          aria-describedby="amount-help"
          [(ngModel)]="amount"
        />
      </div>
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="image">Image</label>
        <input
          style="width: 444px"
          pInputText
          id="image"
          aria-describedby="image-help"
          [(ngModel)]="image"
        />
      </div>
    </div>

    <div class="card flex justify-content-center inputspacDialog">
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="description">Description</label>
        <textarea
          rows="5"
          cols="30"
          pInputTextarea
          [(ngModel)]="description"
          style="width: 444px"
        ></textarea>
      </div>
    </div>

    <div class="card flex justify-content-center inputspacDialog">
      <p-button
        label="บันทึกร่าง"
        icon="pi pi-save"
        (onClick)="updateProduct('SAVE')"
      ></p-button>
      <p-button
        label="ส่งอนุมัติ"
        icon="pi pi-send"
        styleClass="p-button-success"
        (onClick)="updateProduct('APPROVAL')"
      ></p-button>
    </div>
  </p-dialog>
</div>
