.main {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.edit {
  background: #ffc700;
}

.edit:hover {
  background: #c19a0f;
}

.delete {
  background-color: #FF451C;
}

.delete:hover {
  background-color: #dd2800;
}

.head {
  display: flex;
  justify-content: space-between;
}

.input-dialog {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 2px;
}

.inputspacDialog {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 20px;
}

.longInputDialog {
  width: 444px;
}

tr:hover {
  background-color: rgba(231, 227, 227, 0.445);
}
