<div class="main">
  <div class="head">
    <!-- Search bar -->
    <div class="card flex flex-wrap justify-content-center gap-3">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          #inputSearch
          type="text"
          [(ngModel)]="searchText"
          pInputText
          placeholder="ค้นหา"
          (input)="search()"
        />
      </span>
    </div>
    <!-- Create Button -->
    <p-button
      label="เพิ่มสมาชิก"
      icon="pi pi-plus"
      (onClick)="showAddDialog()"
    ></p-button>
  </div>
  <!-- Table employee -->
  <div class="card">
    <p-table
      [value]="employeeFilter"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5, 10, 25, 50]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 12.25%">รหัส</th>
          <th style="width: 12.25%">ชื่อ-นามสกุล</th>
          <th style="width: 12.25%">อายุ</th>
          <th style="width: 12.25%">ที่อยู่</th>
          <th style="width: 12.25%">เบอร์โทร</th>
          <th style="width: 12.25%">ชื่อผู้ใช้</th>
          <th style="width: 12.25%">รหัสผ่าน</th>
          <th style="width: 12.25%">ตำแหน่ง</th>
          <th style="width: 1%"></th>
          <th style="width: 1%"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-employee>
        <tr>
          <td>{{ employee.id }}</td>
          <td>{{ employee.name }}</td>
          <td>{{ employee.age }}</td>
          <td>{{ employee.address }}</td>
          <td>{{ employee.phone }}</td>
          <td>{{ employee.username }}</td>
          <td>{{ employee.password }}</td>
          <td>{{ employee.position }}</td>
          <td>
            <p-button
              label="แก้ไข"
              styleClass="p-button-warning"
              (onClick)="showEditDialog(employee.id)"
            ></p-button>
          </td>
          <td>
            <p-button
              label="ลบ"
              styleClass="p-button-danger"
              [style.margin-left.px]="-27"
              (onClick)="deleteEmployee(employee.id)"
            ></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<!-- Edit Dialog -->
<div class="card flex justify-content-center">
  <p-dialog
    header="แก้ไขข้อมูล"
    [(visible)]="editVisible"
    [modal]="true"
    [style]="{ width: 'auto' }"
    [draggable]="false"
    [resizable]="false"
  >
    <div class="card flex justify-content-center inputspacDialog">
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="username">Customer ID</label>
        <input
          pInputText
          id="username"
          aria-describedby="username-help"
          [(ngModel)]="id"
          [disabled]="true"
        />
      </div>
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="username">Name</label>
        <input
          pInputText
          id="username"
          aria-describedby="username-help"
          [(ngModel)]="name"
        />
      </div>
    </div>

    <div class="card flex justify-content-center inputspacDialog">
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="username">Position</label>
        <input
          pInputText
          id="username"
          aria-describedby="username-help"
          [(ngModel)]="position"
        />
      </div>
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="username">Age</label>
        <input
          pInputText
          id="username"
          aria-describedby="username-help"
          [(ngModel)]="age"
        />
      </div>
    </div>

    <div class="card flex justify-content-center inputspacDialog">
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="username">Address</label>
        <input
          pInputText
          id="username"
          aria-describedby="username-help"
          [(ngModel)]="address"
          class="longInputDialog"
        />
      </div>
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="username">Phone</label>
        <input
          pInputText
          id="username"
          aria-describedby="username-help"
          [(ngModel)]="phone"
        />
      </div>
    </div>

    <div class="card flex justify-content-center inputspacDialog">
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="username">Username</label>
        <input
          pInputText
          id="username"
          aria-describedby="username-help"
          [(ngModel)]="username"
          class="longInputDialog"
        />
      </div>
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="username">Password</label>
        <input
          pInputText
          id="username"
          aria-describedby="username-help"
          [(ngModel)]="password"
        />
      </div>
    </div>

    <div class="card flex justify-content-center">
      <button
        pButton
        pRipple
        label="ยืนยันการแก้ไข"
        (click)="confirmEdit()"
        class="p-button-success"
      ></button>
    </div>
  </p-dialog>
</div>

<!-- Add Dialog -->
<div class="card flex justify-content-center">
  <p-dialog
    header="เพิ่มสมาชิก"
    [(visible)]="addVisible"
    [modal]="true"
    [style]="{ width: 'auto' }"
    [draggable]="false"
    [resizable]="false"
  >
    <div class="card flex justify-content-center inputspacDialog">
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="username">Name</label>
        <input
          pInputText
          id="username"
          aria-describedby="username-help"
          [(ngModel)]="name"
        />
      </div>
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="username">Position</label>
        <input
          pInputText
          id="username"
          aria-describedby="username-help"
          [(ngModel)]="position"
        />
      </div>
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="username">Age</label>
        <input
          pInputText
          id="username"
          aria-describedby="username-help"
          [(ngModel)]="age"
        />
      </div>
    </div>

    <div class="card flex justify-content-center inputspacDialog">
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="username">Address</label>
        <input
          pInputText
          id="username"
          aria-describedby="username-help"
          [(ngModel)]="address"
          class="longInputDialog"
        />
      </div>
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="username">Phone</label>
        <input
          pInputText
          id="username"
          aria-describedby="username-help"
          [(ngModel)]="phone"
        />
      </div>
    </div>

    <div class="card flex justify-content-center inputspacDialog">
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="username">Username</label>
        <input
          pInputText
          id="username"
          aria-describedby="username-help"
          [(ngModel)]="username"
          class="longInputDialog"
        />
      </div>
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="username">Password</label>
        <input
          pInputText
          id="username"
          aria-describedby="username-help"
          [(ngModel)]="password"
        />
      </div>
    </div>

    <div class="card flex justify-content-center">
      <button
        pButton
        pRipple
        label="บันทึก"
        (click)="confirmInsertEmployee()"
        class="p-button-success"
      ></button>
    </div>
  </p-dialog>
</div>
