<div class="main">
  <div class="head">
    <!-- Search bar -->
    <div class="card flex flex-wrap justify-content-center gap-3">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          #inputSearch
          type="text"
          [(ngModel)]="searchText"
          pInputText
          placeholder="ค้นหา"
          (input)="search()"
        />
      </span>
    </div>
  </div>
  <!-- Table Accept Product -->
  <div class="card">
    <p-table
      [value]="acceptProductFilter"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5, 10, 25, 50]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3%">รหัส</th>
          <th style="width: 8%">ผู้เสนอ</th>
          <th style="width: 10%">ยี่ห้อ</th>
          <th style="width: 20%">รุ่น</th>
          <th style="width: 30%">รายละเอียด</th>
          <th style="width: 10%">วันที่</th>
          <th style="width: 8%">ราคา</th>
          <th style="width: 8%">จำนวน</th>
          <th style="width: 13%"></th>
          <th style="width: 1%"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-acceptProduct>
        <tr>
          <td (click)="showDialog(acceptProduct.id)">{{ acceptProduct.id }}</td>
          <td (click)="showDialog(acceptProduct.id)">{{ acceptProduct.Ename }}</td>
          <td (click)="showDialog(acceptProduct.id)">{{ acceptProduct.brand }}</td>
          <td (click)="showDialog(acceptProduct.id)">{{ acceptProduct.model }}</td>
          <td (click)="showDialog(acceptProduct.id)">{{ acceptProduct.description }}</td>
          <td (click)="showDialog(acceptProduct.id)">{{ acceptProduct.date | date }}</td>
          <td (click)="showDialog(acceptProduct.id)">{{ acceptProduct.price }}</td>
          <td (click)="showDialog(acceptProduct.id)">{{ acceptProduct.amount }}</td>
          <!-- เพิ่ม td ของ amount -->
          <td>
            <p-button
              label="ไม่อนุมัติ"
              styleClass="p-button-danger"
              (onClick)="deleteAcceptProduct(acceptProduct.id)"
            ></p-button>
          </td>
          <td>
            <p-button
              label="อนุมัติ"
              styleClass="p-button-success"
              [style.margin-left.px]="-27"
              (onClick)="
              insetProduct(acceptProduct.id)
              "
            ></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<!-- Dialog -->
<div class="card flex justify-content-center">
  <p-dialog
    header="รายละเอียดสินค้า"
    [(visible)]="visible"
    [modal]="true"
    [style]="{ width: 'auto' }"
    [draggable]="false"
    [resizable]="false"
  >
    <div class="card flex justify-content-center inputspacDialog">
      <div style="display: flex; justify-content: center;">
        <img src="{{image}}" alt="" style="width: 300px; height: 300px;">
      </div>
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="id"><strong>Employee ID : </strong>{{Eid}}</label>
        <label htmlFor="id"><strong>Employee Name : </strong>{{Ename}}</label>
      </div>
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="id"><strong>ID : </strong> {{id}}</label>
        <label htmlFor="id"><strong>Brand : </strong>{{brand}}</label>
        <label htmlFor="id"><strong>Model : </strong>{{model}}</label>
      </div>
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="id"><strong>Description : </strong>{{description}}</label>
      </div>
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="id"><strong>Amount : </strong>{{amount}} </label>
        <label htmlFor="id"><strong>Price : </strong>{{price}} Bath</label>
      </div>
    </div>
  </p-dialog>
</div>
