.main {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.head {
  display: flex;
  justify-content: space-between;
}

tr:hover {
  cursor: pointer;
  background-color: rgba(231, 227, 227, 0.445);
}

.flex.flex-column.gap-2.input-dialog label {
  padding-right: 30px;
}

.inputspacDialog div{
  padding-bottom: 20px;
}

.content {
  max-width:500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#detailDialog .flex.flex-column.gap-2.input-dialog label {
  padding-right: 30px;
}

#detailDialog div{
  padding-bottom: 20px;
  max-width: 1080px;
}

::ng-deep p-button.not-accept span.p-button-label.ng-star-inserted{
  width: 65px;
}
