<div class="main">
  <div class="head">
    <!-- Search bar -->
    <div class="card flex flex-wrap justify-content-center gap-3">
      <span class="p-input-icon-left">
        <i class="pi pi-box"></i>
        <input
          type="text"
          [(ngModel)]="addProductText"
          pInputText
          placeholder="ID สินค้า"
        />
      </span>
      <!-- Create Button -->
      <p-button
        label="เพิ่มสินค้า"
        icon="pi pi-plus"
        (onClick)="addProduct()"
        [style]="{ 'margin-left': '20px' }"
      ></p-button>
    </div>
    <p-button
      label="Clear สินค้า"
      icon="pi pi-trash"
      (onClick)="clearProduct()"
      [style]="{ 'margin-left': '20px' }"
      styleClass="p-button-danger"
    ></p-button>
  </div>
  <!-- Table customer -->
  <div class="card">
    <p-table
      [value]="productFilter"
      [paginator]="false"
      [rows]="10"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5, 10, 25, 50]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 1%">รหัส</th>
          <th style="width: 2%">ยี่ห้อ</th>
          <th style="width: 20%">รุ่น</th>
          <th style="width: 5%">ราคา</th>
          <th style="width: 5%">จำนวน</th>
          <th style="width: 5%">หมวดหมู่</th>
          <th style="width: 5%"></th>
          <th style="width: 1%"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product let-i="rowIndex">
        <tr>
          <td (click)="addProductText = product[0].id">{{ product[0].id }}</td>
          <td (click)="addProductText = product[0].id">
            {{ product[0].brand }}
          </td>
          <td (click)="addProductText = product[0].id">
            {{ product[0].model }}
          </td>
          <td (click)="addProductText = product[0].id">
            {{ product[0].price }}
          </td>
          <td (click)="addProductText = product[0].id">
            {{ amountProduct[i] }}
          </td>
          <td (click)="addProductText = product[0].id">
            {{ product[0].category }}
          </td>
          <td>
            <p-button
              label="แก้ไข"
              styleClass="p-button-warning"
              (onClick)="showEditDialog(i, product[0].amount)"
            ></p-button>
          </td>
          <td>
            <p-button
              label="ลบ"
              styleClass="p-button-danger"
              [style.margin-left.px]="-25"
              (onClick)="deleteProduct(i)"
            ></p-button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary"> ราคารวม {{ total }} บาท </ng-template>
    </p-table>
  </div>
  <p-button
          label="ชำระเงิน"
          icon="pi pi-money-bill"
          (onClick)="payBill()"
          [style]="{ 'margin-left': '20px' }"
          styleClass="p-button-success"
        ></p-button>
</div>


<!-- Edit Dialog -->
<div class="card flex justify-content-center" id="Edit-Add-Dialog">
  <p-dialog
    header="แก้ไขจำนวน"
    [(visible)]="editVisible"
    [modal]="true"
    [style]="{ width: 'auto' }"
    [draggable]="false"
    [resizable]="false"
  >
    <div class="card flex justify-content-center inputspacDialog">
      <div class="flex flex-column gap-2 input-dialog">
        <p-button
          icon="pi pi-minus"
          styleClass="p-button-danger"
          (onClick)="minus()"
        ></p-button>
        <input
          pInputText
          id="fixAmount"
          aria-describedby="fixAmount-help"
          [(ngModel)]="fixAmount"
          [style]="{ 'text-align': 'center' }"
        />
        <p-button icon="pi pi-plus" (onClick)="plus()"></p-button>
      </div>
    </div>

    <div class="card flex justify-content-center">
      <div class="flex flex-column gap-2 input-dialog">
        <button
          pButton
          pRipple
          label="ยืนยันการแก้ไข"
          class="p-button-success"
          (click)="confirmEdit()"
        ></button>
      </div>
    </div>
  </p-dialog>
</div>

<!-- Pay Dialog -->
<div class="card flex justify-content-center" id="Edit-Add-Dialog">
  <p-dialog
    header="ชำระเงิน"
    [(visible)]="payVisible"
    [modal]="true"
    [style]="{ width: 'auto' }"
    [draggable]="false"
    [resizable]="false"
  >
    <div class="card flex justify-content-center inputspacDialog">
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="brand">ID/Phone ลูกค้า</label>
        <input
          pInputText
          id="fixAmount"
          aria-describedby="fixAmount-help"
          [(ngModel)]="cidOrPhone"
          [style]="{ 'text-align': 'center' }"
        />
      </div>
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="brand">จำนวนเงินที่รับมา</label>
        <input
          pInputText
          id="fixAmount"
          aria-describedby="fixAmount-help"
          [(ngModel)]="getpaid"
          [style]="{ 'text-align': 'center' }"
        />
      </div>
    </div>

    <div class="card flex justify-content-center">
      <div class="flex flex-column gap-2 input-dialog">
        <button
          pButton
          pRipple
          label="ชำระเงิน"
          class="p-button-success"
          (click)="checkCustomerData()"
        ></button>
      </div>
    </div>
  </p-dialog>
</div>

<!-- Change Dialog -->
<div class="card flex justify-content-center" id="Edit-Add-Dialog">
  <p-dialog
    [(visible)]="changeVisible"
    [modal]="true"
    [style]="{ width: 'auto' }"
    [draggable]="false"
    [resizable]="false"
  >
  <div>
    <h1>เงินทอน <span style="color: green;">{{ change }}</span> บาท</h1><br/>
  </div>
  </p-dialog>
</div>
<p-toast></p-toast>
