<div class="main">
  <div class="head">
    <!-- Search bar -->
    <div class="card flex flex-wrap justify-content-center gap-3">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          type="text"
          [(ngModel)]="searchText"
          pInputText
          placeholder="ค้นหา"
          (input)="search()"
        />
      </span>
    </div>
    <!-- Create Button -->
    <p-button
      label="เพิ่มสมาชิก"
      icon="pi pi-plus"
      (onClick)="showAddDialog()"
      *ngIf="position === textOwner"
    ></p-button>
  </div>
  <!-- Table customer -->
  <div class="card">
    <p-table
      [value]="productFilter"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5, 10, 25, 50]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 1%">รหัส</th>
          <th style="width: 2%">ยี่ห้อ</th>
          <th style="width: 20%">รุ่น</th>
          <th style="width: 66%">รายละเอียด</th>
          <th style="width: 5%">ราคา</th>
          <div *ngIf="position === textOwner">
            <th style="width: 5%"></th>
            <th style="width: 1%"></th>
          </div>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td (click)="showDialog(product.id)">{{ product.id }}</td>
          <td (click)="showDialog(product.id)">{{ product.brand }}</td>
          <td (click)="showDialog(product.id)">{{ product.model }}</td>
          <td (click)="showDialog(product.id)">{{ product.description }}</td>
          <td (click)="showDialog(product.id)">{{ product.price }}</td>
          <div *ngIf="position === textOwner">
            <td>
              <p-button
                label="แก้ไข"
                styleClass="p-button-warning"
                (onClick)="showEditDialog(product.id)"
              ></p-button>
            </td>
            <td>
              <p-button
                label="ลบ"
                styleClass="p-button-danger"
                [style.margin-left.px]="-25"
                (onClick)="deleteProduct(product.id)"
              ></p-button>
            </td>
          </div>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<!-- Dialog -->
<div class="card flex justify-content-center">
  <p-dialog
    header="รายละเอียดสินค้า"
    [(visible)]="visible"
    [modal]="true"
    [style]="{ width: 'auto' }"
    [draggable]="false"
    [resizable]="false"
  >
    <div
      id="detailDialog"
      class="card flex justify-content-center inputspacDialog"
    >
      <div style="display: flex; justify-content: center">
        <img src="{{ image }}" alt style="width: 300px; height: 300px" />
      </div>
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="id"><strong>ID : </strong>{{ id }}</label>
        <label htmlFor="id"><strong>Brand : </strong>{{ brand }}</label>
        <label htmlFor="id"><strong>Model : </strong>{{ model }}</label>
      </div>
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="id"
          ><strong>Description : </strong>{{ description }}</label
        >
      </div>
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="id"><strong>Price : </strong>{{ price }} Bath</label>
      </div>
    </div>
  </p-dialog>
</div>

<!-- Edit Dialog -->
<div class="card flex justify-content-center" id="Edit-Add-Dialog">
  <p-dialog
    header="แก้ไขข้อมูล"
    [(visible)]="editVisible"
    [modal]="true"
    [style]="{ width: 'auto' }"
    [draggable]="false"
    [resizable]="false"
  >
    <div style="display: flex; justify-content: center">
      <img src="{{ image }}" alt style="width: 300px; height: 300px" />
    </div>
    <div class="card flex justify-content-center inputspacDialog">
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="image">Image</label>
        <input
          pInputText
          id="image"
          aria-describedby="image-help"
          [(ngModel)]="image"
        />
      </div>
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="brand">Brand</label>
        <input
          pInputText
          id="brand"
          aria-describedby="brand-help"
          [(ngModel)]="brand"
        />
      </div>
    </div>

    <div class="card flex justify-content-center inputspacDialog">
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="model">Model</label>
        <input
          pInputText
          id="model"
          aria-describedby="model-help"
          [(ngModel)]="model"
        />
      </div>
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="price">Price</label>
        <input
          pInputText
          id="price"
          aria-describedby="price-help"
          [(ngModel)]="price"
        />
      </div>
    </div>

    <div class="card flex justify-content-center inputspacDialog">
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="description">Description</label>
        <textarea
          rows="5"
          cols="30"
          pInputTextarea
          [(ngModel)]="description"
          style="width: 444px"
        ></textarea>
      </div>
    </div>

    <div class="card flex justify-content-center">
      <div class="flex flex-column gap-2 input-dialog">
        <button
          pButton
          pRipple
          label="ยืนยันการแก้ไข"
          class="p-button-success"
          (click)="confirmEdit()"
        ></button>
      </div>
    </div>
  </p-dialog>
</div>

<!-- Add Dialog -->
<div class="card flex justify-content-center" id="Edit-Add-Dialog">
  <p-dialog
    header="เพิ่มสินค้า"
    [(visible)]="addVisible"
    [modal]="true"
    [style]="{ width: 'auto' }"
    [draggable]="false"
    [resizable]="false"
  >
    <div
      class="card flex justify-content-center inputspacDialog"
      style="justify-content: center !important"
    >
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="brand">Brand</label>
        <input
          pInputText
          id="brand"
          aria-describedby="brand-help"
          [(ngModel)]="brand"
        />
      </div>
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="model">Model</label>
        <input
          pInputText
          id="model"
          aria-describedby="model-help"
          [(ngModel)]="model"
        />
      </div>
    </div>

    <div class="card flex justify-content-center inputspacDialog">
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="price">Price</label>
        <input
          pInputText
          id="price"
          aria-describedby="price-help"
          [(ngModel)]="price"
        />
      </div>
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="image">Image</label>
        <input
          pInputText
          id="image"
          aria-describedby="image-help"
          [(ngModel)]="image"
        />
      </div>
    </div>

    <div class="card flex justify-content-center inputspacDialog">
      <div class="flex flex-column gap-2 input-dialog">
        <label htmlFor="description">Description</label>
        <textarea
          rows="5"
          cols="30"
          pInputTextarea
          [(ngModel)]="description"
          style="width: 444px"
        ></textarea>
      </div>
    </div>

    <div class="card flex justify-content-center">
      <div class="flex flex-column gap-2 input-dialog">
        <button
          pButton
          pRipple
          label="บันทึกข้อมูล"
          class="p-button-success"
          (click)="insetProduct()"
        ></button>
      </div>
    </div>
  </p-dialog>
</div>
