<div class="main">
  <div class="imageZone"></div>

  <div class="formLoginZone">
    <div class="container">
      <div class="card">
        <p-card header="Login">
          <div class="flex flex-column gap-2 input-ui login">
            <label htmlFor="username">Username</label>
            <input
              pInputText
              id="username"
              aria-describedby="username-help"
              [(ngModel)]="username"
            />
          </div>

          <br />

          <div class="flex flex-column gap-2 input-ui login">
            <label htmlFor="password">Password</label>
            <input
              pInputText
              id="password"
              aria-describedby="password-help"
              [(ngModel)]="password"
            />
          </div>

          <p-button label="Login" [style]="{ 'margin-top': '20px' }" (onClick)="checkPassword()"></p-button>
        </p-card>
      </div>
    </div>
  </div>
</div>
