.main {
  display: flex;
  /* justify-content: center;
  flex-direction: row; */
  height: 100vh;
  padding: 0;
  margin: 0;
}

.imageZone {
  /* background-color: aqua; */
  /* background: url('../../../assets/spider-man.jpg'); */
  background-image: url("https://img.freepik.com/free-photo/close-up-virtual-classroom_23-2149175671.jpg?w=740&t=st=1692180997~exp=1692181597~hmac=a620e42bf2db53ed924aa3319e74fb801f124e04cc817f3fbfaf85248c213dc2");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  object-fit: contain;
  flex: 1;
}

.formLoginZone {
  flex: 1;
  display: flex;
}

.container {
  display: grid;
  place-items: center; /* จัดให้อยู่กลางทั้งแนวนอนและแนวตั้ง */
  height: 100%;
}

.card {
  width: 400px;
}

.input-ui {
  display: flex;
  flex-direction: column;
}

input {
  margin-right: 20px;
}

.login {
  gap: 10px;
}

